*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji';
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role='button'] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
*,
:before,
:after {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-pan-x: ;
  --un-pan-y: ;
  --un-pinch-zoom: ;
  --un-scroll-snap-strictness: proximity;
  --un-ordinal: ;
  --un-slashed-zero: ;
  --un-numeric-figure: ;
  --un-numeric-spacing: ;
  --un-numeric-fraction: ;
  --un-border-spacing-x: 0;
  --un-border-spacing-y: 0;
  --un-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-shadow-inset: ;
  --un-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-ring-inset: ;
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: rgba(147, 197, 253, 0.5);
  --un-blur: ;
  --un-brightness: ;
  --un-contrast: ;
  --un-drop-shadow: ;
  --un-grayscale: ;
  --un-hue-rotate: ;
  --un-invert: ;
  --un-saturate: ;
  --un-sepia: ;
  --un-backdrop-blur: ;
  --un-backdrop-brightness: ;
  --un-backdrop-contrast: ;
  --un-backdrop-grayscale: ;
  --un-backdrop-hue-rotate: ;
  --un-backdrop-invert: ;
  --un-backdrop-opacity: ;
  --un-backdrop-saturate: ;
  --un-backdrop-sepia: ;
}
::backdrop {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-pan-x: ;
  --un-pan-y: ;
  --un-pinch-zoom: ;
  --un-scroll-snap-strictness: proximity;
  --un-ordinal: ;
  --un-slashed-zero: ;
  --un-numeric-figure: ;
  --un-numeric-spacing: ;
  --un-numeric-fraction: ;
  --un-border-spacing-x: 0;
  --un-border-spacing-y: 0;
  --un-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-shadow-inset: ;
  --un-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-ring-inset: ;
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: rgba(147, 197, 253, 0.5);
  --un-blur: ;
  --un-brightness: ;
  --un-contrast: ;
  --un-drop-shadow: ;
  --un-grayscale: ;
  --un-hue-rotate: ;
  --un-invert: ;
  --un-saturate: ;
  --un-sepia: ;
  --un-backdrop-blur: ;
  --un-backdrop-brightness: ;
  --un-backdrop-contrast: ;
  --un-backdrop-grayscale: ;
  --un-backdrop-hue-rotate: ;
  --un-backdrop-invert: ;
  --un-backdrop-opacity: ;
  --un-backdrop-saturate: ;
  --un-backdrop-sepia: ;
}
@font-face {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmmono/v14/aFTU7PB1QTsUX8KYthSQBLyM.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmmono/v14/aFTU7PB1QTsUX8KYthqQBA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRR232VGM.woff2)
    format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW32.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmserifdisplay/v15/-nFnOHM81r4j6k0gjAW3mujVU2B2G_5x0ujy.woff2)
    format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmserifdisplay/v15/-nFnOHM81r4j6k0gjAW3mujVU2B2G_Bx0g.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
.i-carbon\:user-filled,
[i-carbon\:user-filled=''] {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M6 30h20v-5a7.008 7.008 0 0 0-7-7h-6a7.008 7.008 0 0 0-7 7zM9 9a7 7 0 1 0 7-7a7 7 0 0 0-7 7z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.i-ri\:chat-3-fill {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M7.291 20.824L2 22l1.176-5.291A9.956 9.956 0 0 1 2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10a9.956 9.956 0 0 1-4.709-1.176Z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.i-ri\:chat-3-line {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M7.291 20.824L2 22l1.176-5.291A9.956 9.956 0 0 1 2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10a9.956 9.956 0 0 1-4.709-1.176Zm.29-2.113l.653.35A7.955 7.955 0 0 0 12 20a8 8 0 1 0-8-8c0 1.335.325 2.617.94 3.766l.349.653l-.655 2.947l2.947-.655Z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.i-ri\:contacts-fill {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M2 22a8 8 0 1 1 16 0H2Zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6s6 2.685 6 6s-2.685 6-6 6Zm10 4h4v2h-4v-2Zm-3-5h7v2h-7v-2Zm2-5h5v2h-5V7Z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.i-ri\:contacts-line {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M19 7h5v2h-5V7Zm-2 5h7v2h-7v-2Zm3 5h4v2h-4v-2ZM2 22a8 8 0 1 1 16 0h-2a6 6 0 0 0-12 0H2Zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6s6 2.685 6 6s-2.685 6-6 6Zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4Z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.i-ri\:error-warning-line,
[i-ri\:error-warning-line=''] {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10Zm0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16Zm-1-5h2v2h-2v-2Zm0-8h2v6h-2V7Z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.i-ri\:folder-2-line {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M12.414 5H21a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h7.414l2 2ZM20 11H4v8h16v-8Zm0-2V7h-8.414l-2-2H4v4h16Z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.i-ri\:loader-4-line,
[i-ri\:loader-4-line=''] {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M18.364 5.636L16.95 7.05A7 7 0 1 0 19 12h2a9 9 0 1 1-2.636-6.364Z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.i-ri\:more-fill {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M5 10c-1.1 0-2 .9-2 2s.9 2 2 2s2-.9 2-2s-.9-2-2-2Zm14 0c-1.1 0-2 .9-2 2s.9 2 2 2s2-.9 2-2s-.9-2-2-2Zm-7 0c-1.1 0-2 .9-2 2s.9 2 2 2s2-.9 2-2s-.9-2-2-2Z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.i-ri\:more-line,
[i-ri\:more-line=''] {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M4.5 10.5c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5S6 12.825 6 12s-.675-1.5-1.5-1.5Zm15 0c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5S21 12.825 21 12s-.675-1.5-1.5-1.5Zm-7.5 0c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5s1.5-.675 1.5-1.5s-.675-1.5-1.5-1.5Z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.i-ri\:notification-off-line,
[i-ri\:notification-off-line=''] {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M18.587 20H4a.5.5 0 0 1-.4-.8l.4-.533V10c0-1.33.325-2.584.899-3.687L1.395 2.808l1.414-1.414l19.799 19.798l-1.415 1.415L18.587 20ZM6.409 7.822A5.985 5.985 0 0 0 6 10v8h10.586L6.409 7.822ZM20 15.786l-2-2V10a6 6 0 0 0-8.99-5.203L7.56 3.345A8 8 0 0 1 20 10v5.786ZM9.501 21h5a2.5 2.5 0 0 1-5 0Z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.i-ri\:wechat-line,
[i-ri\:wechat-line=''] {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M10.001 14.676v-.062c0-2.508 2.017-4.618 4.753-5.233c-.364-2.302-2.794-4.18-5.853-4.18c-3.32 0-5.9 2.213-5.9 4.779c0 .969.36 1.9 1.04 2.698c.032.038.083.094.152.165a3.568 3.568 0 0 1 1.002 2.238a3.613 3.613 0 0 1 2.363-.442c.166.026.302.046.405.06a7.253 7.253 0 0 0 2.038-.023Zm.457 1.951a9.204 9.204 0 0 1-2.753.055a18.997 18.997 0 0 1-.454-.066a1.613 1.613 0 0 0-1.08.211l-1.904 1.148a.806.806 0 0 1-.49.117a.791.791 0 0 1-.729-.851l.15-1.781a1.565 1.565 0 0 0-.439-1.223a5.558 5.558 0 0 1-.241-.262c-.954-1.12-1.517-2.502-1.517-3.995c0-3.745 3.537-6.78 7.9-6.78c4.06 0 7.403 2.627 7.85 6.008c3.371.154 6.05 2.515 6.05 5.406c0 1.193-.456 2.296-1.229 3.19c-.051.06-.116.13-.195.21a1.24 1.24 0 0 0-.356.977l.121 1.422a.635.635 0 0 1-.59.68a.66.66 0 0 1-.396-.094l-1.544-.917a1.322 1.322 0 0 0-.874-.169c-.147.023-.27.04-.368.053a7.72 7.72 0 0 1-.969.062c-2.694 0-4.998-1.408-5.943-3.4Zm6.977 1.31a3.326 3.326 0 0 1 1.675.174a3.25 3.25 0 0 1 .842-1.501c.05-.051.087-.09.106-.113c.489-.565.743-1.213.743-1.883c0-1.804-1.903-3.414-4.4-3.414c-2.497 0-4.4 1.61-4.4 3.414s1.903 3.414 4.4 3.414a5.6 5.6 0 0 0 .714-.045c.08-.01.188-.026.32-.046Z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.btn,
[btn=''] {
  display: inline-block;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #16a34acc;
  padding: 0.25rem 1rem;
  --un-text-opacity: 1;
  color: rgba(255, 255, 255, var(--un-text-opacity));
}
.btn:disabled {
  cursor: default;
  --un-bg-opacity: 1;
  background-color: rgba(75, 85, 99, var(--un-bg-opacity));
  opacity: 0.5;
}
[btn='']:disabled {
  cursor: default;
  --un-bg-opacity: 1;
  background-color: rgba(75, 85, 99, var(--un-bg-opacity));
  opacity: 0.5;
}
.btn:hover,
[btn='']:hover {
  background-color: #15803dcc;
}
.absolute,
[absolute=''] {
  position: absolute;
}
.relative,
[relative=''] {
  position: relative;
}
.bottom-0,
[bottom-0=''] {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right--4px {
  right: -4px;
}
.right-0,
[right-0=''] {
  right: 0;
}
.top--2px {
  top: -2px;
}
.top--5px {
  top: -5px;
}
.top-10px,
[top-10px=''] {
  top: 10px;
}
.z-100,
[z-100=''] {
  z-index: 100;
}
.mx-10px,
[mx-10px=''] {
  margin-left: 10px;
  margin-right: 10px;
}
.ml-10px,
[ml-10px=''] {
  margin-left: 10px;
}
.mr-10px,
[mr-10px=''] {
  margin-right: 10px;
}
.mt-10px,
[mt-10px=''] {
  margin-top: 10px;
}
.mt-20px,
[mt-20px=''] {
  margin-top: 20px;
}
.display-none,
[display-none=''] {
  display: none;
}
.h-0,
[h-0=''] {
  height: 0;
}
.h-16px {
  height: 16px;
}
.h-36px,
[h-36px=''] {
  height: 36px;
}
.h-60px,
[h-60px=''] {
  height: 60px;
}
.h-650px,
[h-650px=''] {
  height: 650px;
}
.h-70px,
[h-70px=''] {
  height: 70px;
}
.h-8px {
  height: 8px;
}
.h-full,
[h-full=''] {
  height: 100%;
}
.max-w-100px,
[max-w-100px=''] {
  max-width: 100px;
}
.min-h-200px,
[min-h-200px=''] {
  min-height: 200px;
}
.min-h-36px,
[min-h-36px=''] {
  min-height: 36px;
}
.min-h-40px,
[min-h-40px=''] {
  min-height: 40px;
}
.min-w-50px,
[min-w-50px=''] {
  min-width: 50px;
}
.min-w-60px,
[min-w-60px=''] {
  min-width: 60px;
}
.w-0,
[w-0=''] {
  width: 0;
}
.w-200px,
[w-200px=''] {
  width: 200px;
}
.w-220px,
[w-220px=''] {
  width: 220px;
}
.w-300px,
[w-300px=''] {
  width: 300px;
}
.w-800px,
[w-800px=''] {
  width: 800px;
}
.w-8px {
  width: 8px;
}
.w-full,
[w-full=''] {
  width: 100%;
}
.flex,
[flex=''],
[flex~='~'] {
  display: flex;
}
.flex-1,
[flex-1=''],
[flex~='1'] {
  flex: 1 1 0%;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
[flex~='col'] {
  flex-direction: column;
}
.transform {
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y))
    translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x))
    rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x))
    skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
}
.cursor-pointer,
[cursor-pointer=''] {
  cursor: pointer;
}
.items-center,
[flex~='items-center'],
[items-center=''] {
  align-items: center;
}
.justify-center,
[justify-center=''] {
  justify-content: center;
}
.justify-between,
[flex~='justify-between'],
[justify-between=''] {
  justify-content: space-between;
}
.gap5,
[flex~='gap5'] {
  grid-gap: 1.25rem;
  gap: 1.25rem;
}
.gap6,
[flex~='gap6'] {
  grid-gap: 1.5rem;
  gap: 1.5rem;
}
.flex-justify-start {
  justify-content: flex-start;
}
.overflow-auto,
[overflow-auto=''] {
  overflow: auto;
}
.overflow-hidden,
[overflow-hidden=''] {
  overflow: hidden;
}
.overflow-x-hidden,
[overflow-x-hidden=''] {
  overflow-x: hidden;
}
.overflow-y-auto,
[overflow-y-auto=''] {
  overflow-y: auto;
}
.truncate,
[truncate=''] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.break-words,
[break-words=''] {
  overflow-wrap: break-word;
}
.border,
[border~='1px'] {
  border-width: 1px;
}
.border-b,
[border-b~='1px'] {
  border-bottom-width: 1px;
}
.border-l,
[border-l~='1px'] {
  border-left-width: 1px;
}
.border-l-5px,
[border-l-5px=''] {
  border-left-width: 5px;
}
.border-r,
[border-r~='1px'] {
  border-right-width: 1px;
}
.border-r-5px,
[border-r-5px=''] {
  border-right-width: 5px;
}
.border-t,
[border-t~='1px'] {
  border-top-width: 1px;
}
[border-b~='5px'] {
  border-bottom-width: 5px;
}
[border-t~='5px'] {
  border-top-width: 5px;
}
[border~='gray-500/10'] {
  border-color: #6b72801a;
}
.border-l-green-600\/60 {
  border-left-color: #16a34a99;
}
.border-l-transparent {
  border-left-color: transparent;
}
.border-l-white {
  --un-border-opacity: 1;
  --un-border-left-opacity: var(--un-border-opacity);
  border-left-color: rgba(255, 255, 255, var(--un-border-left-opacity));
}
.border-r-transparent {
  border-right-color: transparent;
}
.border-r-white {
  --un-border-opacity: 1;
  --un-border-right-opacity: var(--un-border-opacity);
  border-right-color: rgba(255, 255, 255, var(--un-border-right-opacity));
}
.border-r-white\/80 {
  border-right-color: #fffc;
}
.dark .dark\:border-l-gray\/10 {
  border-left-color: #9ca3af1a;
}
.dark .dark\:border-l-green-600 {
  --un-border-opacity: 1;
  --un-border-left-opacity: var(--un-border-opacity);
  border-left-color: rgba(22, 163, 74, var(--un-border-left-opacity));
}
.dark .dark\:border-r-gray-500\/50 {
  border-right-color: #6b728080;
}
.dark .dark\:border-r-gray\/10 {
  border-right-color: #9ca3af1a;
}
[border-b~='gray-500/10'] {
  border-bottom-color: #6b72801a;
}
[border-b~='gray-500/6'] {
  border-bottom-color: #6b72800f;
}
[border-b~='transparent'] {
  border-bottom-color: transparent;
}
[border-l~='gray-500/10'] {
  border-left-color: #6b72801a;
}
[border-r~='gray-500/10'] {
  border-right-color: #6b72801a;
}
[border-r~='gray-800/10'] {
  border-right-color: #1f29371a;
}
[border-t~='gray-500/10'] {
  border-top-color: #6b72801a;
}
[border-t~='transparent'] {
  border-top-color: transparent;
}
.rounded,
[rounded=''] {
  border-radius: 0.25rem;
}
.rounded-10px {
  border-radius: 10px;
}
.rounded-2px,
[rounded-2px=''] {
  border-radius: 2px;
}
.rounded-4px,
[rounded-4px=''] {
  border-radius: 4px;
}
.rounded-6px,
[rounded-6px=''] {
  border-radius: 6px;
}
.bg-gray-500\/10 {
  background-color: #6b72801a;
}
.dark [bg~='dark:#272727'] {
  --un-bg-opacity: 1;
  background-color: rgba(39, 39, 39, var(--un-bg-opacity));
}
.dark [bg~='dark:gray-500/50'] {
  background-color: #6b728080;
}
.dark [bg~='dark:gray-900/60'] {
  background-color: #11182799;
}
.dark [bg~='dark:gray/10'],
[bg~='gray/10'] {
  background-color: #9ca3af1a;
}
.dark [bg~='dark:green-600'] {
  --un-bg-opacity: 1;
  background-color: rgba(22, 163, 74, var(--un-bg-opacity));
}
[bg~='${item?.fromUser?.id'] {
  background-color: var(--\{item\?\.fromUser\?\.id);
}
[bg~='gray-500/8'] {
  background-color: #6b728014;
}
[bg~='gray-900/10'] {
  background-color: #1118271a;
}
[bg~='gray/2'] {
  background-color: #9ca3af05;
}
[bg~='green-600/60'] {
  background-color: #16a34a99;
}
[bg~='red'] {
  --un-bg-opacity: 1;
  background-color: rgba(248, 113, 113, var(--un-bg-opacity));
}
[bg~='white'] {
  --un-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--un-bg-opacity));
}
[bg~='white/80'] {
  background-color: #fffc;
}
.p-10px,
[p-10px=''] {
  padding: 10px;
}
.px {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-10px,
[px-10px=''] {
  padding-left: 10px;
  padding-right: 10px;
}
.px-15px,
[px-15px=''] {
  padding-left: 15px;
  padding-right: 15px;
}
.px-20px,
[px-20px=''] {
  padding-left: 20px;
  padding-right: 20px;
}
.px-6px {
  padding-left: 6px;
  padding-right: 6px;
}
.py-10px,
[py-10px=''] {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-15px,
[py-15px=''] {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-20px,
[py-20px=''] {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-2px,
[py-2px=''] {
  padding-top: 2px;
  padding-bottom: 2px;
}
.py-5px,
[py-5px=''] {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pb-20px,
[pb-20px=''] {
  padding-bottom: 20px;
}
.pl-10px,
[pl-10px=''] {
  padding-left: 10px;
}
.text-center,
[text-center=''],
[text~='center'] {
  text-align: center;
}
.text-left,
[text-left=''],
[text~='left'] {
  text-align: left;
}
.text-right,
[text-right=''],
[text~='right'] {
  text-align: right;
}
.text-12px,
[text-12px=''],
[text~='12px'] {
  font-size: 12px;
}
.text-14px,
[text-14px=''],
[text~='14px'] {
  font-size: 14px;
}
.text-20px,
[text-20px=''] {
  font-size: 20px;
}
[text~='100px'] {
  font-size: 100px;
}
[text~='18px'] {
  font-size: 18px;
}
[text~='40px'] {
  font-size: 40px;
}
.font-400,
[font-400=''] {
  font-weight: 400;
}
.font-500,
[font-500=''] {
  font-weight: 500;
}
.line-height-16px {
  line-height: 16px;
}
.color-white,
.dark [text~='dark:white'] {
  --un-text-opacity: 1;
  color: rgba(255, 255, 255, var(--un-text-opacity));
}
.dark [text~='dark:blue'] {
  --un-text-opacity: 1;
  color: rgba(96, 165, 250, var(--un-text-opacity));
}
.dark [text~='dark:gray'] {
  --un-text-opacity: 1;
  color: rgba(156, 163, 175, var(--un-text-opacity));
}
.text-gray\/50,
[text~='gray/50'] {
  color: #9ca3af80;
}
.text-green\/80 {
  color: #4ade80cc;
}
[text~='blue-900/80'] {
  color: #1e3a8acc;
}
[text~='gray-500/100'] {
  color: #6b7280;
}
[text~='gray-500/50'] {
  color: #6b728080;
}
[text~='gray-500/60'] {
  color: #6b728099;
}
[text~='gray-500/80'] {
  color: #6b7280cc;
}
[text~='gray-800/50'] {
  color: #1f293780;
}
[text~='gray-800/60'] {
  color: #1f293799;
}
[text~='gray-800/80'] {
  color: #1f2937cc;
}
[text~='gray-800/90'] {
  color: #1f2937e6;
}
[text~='purple/90'] {
  color: #c084fce6;
}
[text~='red-500/80'] {
  color: #ef4444cc;
}
[text~='hover:green/80']:hover {
  color: #4ade80cc;
}
.outline-none,
[outline-none=''] {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.transition {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color,
    fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.ease {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nc-avatar {
  min-width: var(--7b279fb6);
  min-height: var(--7b279fb6);
  width: var(--7b279fb6);
  height: var(--7b279fb6);
}
@keyframes spin-7a15d265 {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading-icon[data-v-7a15d265] {
  animation: spin-7a15d265 2s linear infinite;
}
.slide-enter-active[data-v-7a15d265],
.slide-leave-active[data-v-7a15d265] {
  transition: transform 2s ease;
}
.slide-enter-from[data-v-7a15d265],
.slide-leave-to[data-v-7a15d265] {
  transform: translate(100%);
}
.slide-enter-to[data-v-7a15d265],
.slide-leave-from[data-v-7a15d265] {
  transform: translate(0);
}
